# Node.js
**/node_modules/
npm-debug.log
yarn-error.log

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# MacOS
**/.DS_Store

# Temporary files / IDEs
**/.vscode/
**/.idea/
**/*.log
**/tmp/
